---
title: Home
permalink: /index.html
---

<!DOCTYPE html>
<!-- https://www.flaticon.com/packs/creativity-design -->
<html lang="en" data-color-mode="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
    The page supports both dark and light color schemes,
    and the page author prefers dark.
  -->
  <meta name="color-scheme" content="dark light">

  <link rel="stylesheet" href="/assets/css/2.0/application.css">

  <link rel="shortcut icon" type="image/svg+xml" href="/assets/images/2.0/logo_light.svg" sizes="any">
  
  <script src="/assets/js/common/jquery-2.2.4.min.js"></script>
  <script src="https://kit.fontawesome.com/bf7280a28a.js" crossorigin="anonymous"></script>
  <script src="/assets/js/common/loader.js"></script>
  <script src="/assets/js/2.0/color-scheme.js"></script>

  <title>&copy; juergenpointinger</title>
</head>
<!-- -->

<body>
  <div id="loader"></div>

  {% include navigation.html %}

  <div id="page">
    <div id="container">

      <span class="tags top-tags">
        &lt;html&gt; <br />
        &nbsp;&nbsp;&lt;body&gt;
      </span>
        
      <div class="intro">

        <div class="welcome-zone">
          <h1>Hi, <br />
            I'm Jürgen, <br />
            IT Consultant.</h1>
          <h5>DevOps Enthusiast / Solution Architect / Software Developer</h5>
          <a href="#contact-form"><button>Contact me!</button></a>
        </div>

        <div class="intro-logo"></div>        
      </div>

      <div id="about">
        <div class="avatar">                    
          <img src="/assets/images/2.0/avatar.jpg" alt="Avatar" />
        </div>

        <div class="text-zone">
          <h2>About me</h2>
          <p>
            I was born in Linz (Upper Austria, AUT) in 1984.
            With loving support from my mom and stepdad, I grew up in a small town near Linz.
            I spent my childhood on sports pitches, where I started to love soccer and 
            became a huge Bayern Munich (GER) fan.
          </p>
          <p>
            After almost 25 years in Upper Austria I met the love of my life and followed her to Vienna (AUT) in 2009.
            Since then I live in the most beautiful and most livable city in the world.
            Our 2 boys make our family happiness complete. They make me proud every day!
          </p>
          <p>
            At <a href="https://www.nagarro.com" target="_blank">Nagarro</a> I can live out my entrepreneurial spirit and
            accompany my clients on their journey of change so they can get closer to their business goals.
            Some claim that I am a good leader and mentor.
            I want to thank them a lot and I try to return this trust every day.
          </p>
        </div>        
      </div>

      <div id="experience" class="js-animate-number-trigger">
        <div>
          <span class="number-counter js-animate-number">20</span>
          <span>+</span>    
          <span class="text-zone">years of experience</span>
        </div>
        <div>
          <span class="number-counter js-animate-number">10</span>
          <span>+</span>    
          <span class="text-zone">happy clients and many more projects</span>
        </div>        
      </div>

      <div id="skills">        
        <div class="skill-item">
          <div class="skills-mask leadership-mask"></div>
          Transformational, Situational, Servant leadership
        </div>

        <div class="skill-item">
          <div class="skills-mask management-mask"></div>
          Lean management & Lean product development
        </div>

        <div class="skill-item">
          <div class="skills-mask architecture-mask"></div>
          Software architecture
        </div>

        <div class="skill-item">
          <div class="skills-mask development-mask"></div>
          Agile development, Technical excellence & DevOps enthusiasm
        </div>

        <h3>Skills and strength</h3>
      </div>

      <div id="trainings">
        <h3>Trainings and certificates</h3>
        
        <div class="text-zone">          
          <p>
            › Advanced training „Enthusiasm for successful communication“ <br />
            › ISAQB® Certified Professional for Software Architecture, Foundation Level <br />
            › ISAQB® CPSA Advanced Modul AWERT (Software Architecture Analysis) <br />
            › Nagarro Test Automation Curriculum <br />
            › Nagarro Certified Connected Enterprise Superhero <br />
            › ICAgile Certified Professional - Agile Fundamentals (ICP) <br />
            › ICAgile Certified Professional – Agile Programming (ICP-PRG) <br />
            › Microsoft Azure DevOps Assessment <br />
            › Microsoft Azure Sales Fundamentals <br />
            › Microsoft Certified Azure Fundamentals (AZ-900)
          </p>
        </div>        
      </div>

      <div id="projects">
        <h2>Partial project history</h2>
        {% include projects.html %}
      </div>

      <div id="contact-form">
        <div class="text-zone">
          <h2>Contact me</h2>
          <p>
            If you have any request or question, don't hesitate to contact me using below form.
          </p>
        </div>

        <form id="contact" action="https://formspree.io/f/mknpegng" method="post" autocomplete="off">
          <div class="form-group">
            <input type="text" class="form-input" placeholder="Name" name="name" aria-label="Name" />
            <input type="email" class="form-input" placeholder="Email" name="_replyto" aria-label="Email" />
          </div>
          <div class="form-group">
            <input type="text" class="form-input"  placeholder="Subject" name="subject" aria-label="Subject" />
            <input type="hidden" name="_subject" value="New submission!" aria-hidden="true" />
          </div>
          <div class="form-group">
            <textarea type="text" class="form-input" placeholder="Message" name="message" aria-label="Message" ></textarea>
          </div>

          <button type="submit">Send</button>
        </form>
      </div>

      <span class="tags bottom-tags">
        &nbsp;&nbsp;&lt;/body&gt; <br />
        &lt;/html&gt;
      </span>

    </div>

    {% include footer.html %}
  </div>

  <script src="/assets/js/2.0/animate.js"></script>
</body>
</html>