/*
  The page supports both dark and light color schemes,
  and the page author prefers light.
*/
:root {
  color-scheme: light dark;
}

:root {
  --color-scale-white: rgb(255, 255, 255);
  --color-scale-black: rgb(29, 29, 29);  
  --color-scale-green-1: rgb(56, 248, 160);
  --color-scale-green-2: rgb(10, 163, 108); 
  --color-scale-blue-1: rgb(56, 248, 260);
  --color-scale-blue-2: rgb(48, 201, 230);
  --color-scale-blue-3: rgb(114, 119, 144);
  --color-scale-blue-4: rgb(36, 41, 46);
  --color-scale-red-1: rgb(230, 48, 48);
  --color-scale-red-2: rgb(248, 56, 56);
  --color-scale-grey-1: rgb(250, 250, 250);
  --color-scale-grey-2: rgb(141, 141, 141);
  --color-scale-grey-3: rgb(117, 117, 117);
  --color-scale-grey-4: rgb(81, 81, 81);
  --color-scale-grey-5: rgb(51, 51, 51);
  --color-scale-grey-6: rgb(43, 43, 43);
  --color-scale-grey-7: rgb(41, 41, 41);
  --color-scale-grey-8: rgb(24, 24, 24);
  --color-scale-grey-99: rgb(228, 228, 228);
  --color-scale-grey-100: rgb(242, 242, 242);

  --logo-light: url(/assets/images/logo_light.svg);
  --logo-dark: url(/assets/images/logo_dark.svg);
}

html {
  --color-bg: var(--color-scale-black);
  --color-fg: var(--color-scale-grey-1);
  --color-title-1: var(--color-scale-blue-1);
  --color-title-2: var(--color-scale-green-1);
  --color-tags-text: var(--color-scale-grey-4);
  --color-button: var(--color-scale-green-1);
  --color-link: var(--color-scale-blue-1);

  --color-accent: var(--color-scale-green-2);
  --color-muted: var(--color-scale-grey-3);

  --color-section: var(--color-scale-grey-1);

  --color-placeholder: var(--color-scale-grey-2);
  --color-bg-input: var(--color-scale-grey-6);

  --color-bg-navigation: var(--color-scale-grey-8);
  --color-fg-navigation: var(--color-scale-grey-1);
  --color-link-navigation: var(--color-scale-blue-1);

  --color-bg-tooltip: var(--color-scale-grey-6);
  --color-fg-tooltip: var(--color-scale-grey-2);
  --color-border-tooltip: var(--color-scale-grey-4);

  --color-bg-footer: var(--color-scale-grey-8);
  --color-fg-footer: var(--color-scale-grey-1);
  --color-link-footer: var(--color-scale-grey-1);
  --color-link-hover-footer: var(--color-scale-green-1);
  --color-goto-footer: var(--color-scale-green-1);

  --color-border: rgb(233, 233, 233);
  --color-blockquote: var(--color-scale-grey-4);

  --logo: var(--logo-light);
}

html[data-color-mode=light] {
  --color-bg: var(--color-scale-white);
  --color-fg: var(--color-scale-grey-5);
  --color-title-1: var(--color-scale-blue-2);
  --color-title-2: var(--color-scale-green-2);
  --color-tags-text: var(--color-scale-grey-99);
  --color-button: var(--color-scale-green-2);
  --color-link: var(--color-scale-blue-2);

  --color-bg-input: var(--color-scale-grey-100);

  --color-bg-tooltip: var(--color-scale-grey-100);
  --color-border-tooltip: var(--color-scale-grey-99);

  --color-bg-navigation: var(--color-scale-blue-4);
  --color-link-navigation: var(--color-scale-blue-2);

  --color-bg-footer: var(--color-scale-grey-1);
  --color-fg-footer: var(--color-scale-grey-5);
  --color-link-footer: var(--color-scale-blue-3);
  --color-link-hover-footer: var(--color-scale-green-2);
  --color-goto-footer: var(--color-scale-green-2);

  /* --color-bg-navigation: rgb(250, 251, 252) ;
  --color-fg-navigation: rgb(88, 96, 105); */

  --logo: var(--logo-dark);
}