{% if site.google_analytics %}
<div id="cookie-consent">
  <span>
    We would like to use third party cookies and scripts to improve the functionality of this website.
  </span>
  <a id="cookie-consent-accept" class="btn btn-primary btn-sm">Approve</a>
  <a id="cookie-consent-reject" class="btn btn-secondary btn-sm">Reject</a>
  <a href="/privacy" class="btn btn-primary btn-sm">More info</a>
</div>

<script>
  const cookie_name = "cookie-consent-dismissed";

  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  function deleteCookie(name) {
    createCookie(name, "", -1);
  }

  function hideBanner(reload) {
    document.getElementById('cookie-consent').style.display = 'none';
    if (reload) {
      location.reload();
    }
  }

  if (readCookie(cookie_name) == 'true') {
    {% include analytics.js %}
  } else {
    document.getElementById('cookie-consent').style.display = 'block';
  }
  
  document.getElementById('cookie-consent-accept').addEventListener("click", function () {
    createCookie(cookie_name, 'true', 31);
    hideBanner(true);
  });

  document.getElementById('cookie-consent-reject').addEventListener("click", function () {
    deleteCookie(cookie_name);
    hideBanner();
  });
</script>
{% endif %}