<div id="footer">
  <div class="top">
    <a href="#" aria-label="Back to top">
      <div class="goto" title="Back to top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="footer-content">
    <ul class="footer-links">
      <li>
        <a href="https://www.linkedin.com/in/juergen-pointinger/" target="_blank" title="Follow me on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="https://github.com/juergenpointinger/" target="_blank" title="Follow me on GitHub"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="/feed" title="Follow my feed"><i class="fas fa-rss"></i></a>
      </li>
    </ul>

    <ul class="copyright">
      <li class="mr-3">&copy; 2024 J. Pointinger</li>
    </ul>
  </div>  
</div>