{%- comment -%} Aktive Sprache + Textbausteine lokal auflösen (siehe _data/i18n/). {%- endcomment -%}
{%- assign lang = page.lang | default: site.lang_default -%}
{%- assign t = site.data.i18n[lang] -%}
<div id="footer">
  <div class="top">
    <a href="#" aria-label="{{ t.footer.back_to_top }}">
      <div class="goto" title="{{ t.footer.back_to_top }}">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="footer-content">
    <ul class="footer-links">
      <li>
        <a href="https://www.linkedin.com/in/juergen-pointinger/" target="_blank"
          title="{{ t.footer.linkedin }}" aria-label="{{ t.footer.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="https://github.com/juergenpointinger/" target="_blank"
          title="{{ t.footer.github }}" aria-label="{{ t.footer.github }}"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="/feed" title="{{ t.footer.feed }}" aria-label="{{ t.footer.feed }}"><i class="fas fa-rss"></i></a>
      </li>
    </ul>

    <ul class="copyright">
      <li class="mr-3">&copy; 2025 J. Pointinger</li>
    </ul>
  </div>
</div>
