<div id="footer">
  <div class="top">
    <a href="/#">
      <div class="goto" title="Back to top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="footer-content">
    <div class="copyright">
      <h5>&copy; Jürgen Pointinger</h5>
      &nbsp;&nbsp;&nbsp;
      <img src="/assets/images/2.0/logo.svg" width="48px"/>
    </div>
    
    <ul class="footer-links">
      <!-- <li>
        <a href="#">imprint</a>
      </li> -->
      <li>
        <a href="https://twitter.com/intent/follow?follow-button%2Foverview&ref_src=twsrc%5Etfw&region=follow_link&screen_name=pointij&tw_p=followbutton" target="_blank" title="Follow me on Twitter">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/juergen-pointinger/" target="_blank" title="Follow me on LinkedIn"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>          
        <a href="https://www.instagram.com/j.pointi/" target="_blank" title="Follow me on Instagram"><i class="fab fa-instagram-square"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/pointij" target="_blank" title="Follow me on Facebook"><i class="fab fa-facebook-square"></i></a>
      </li>
    </ul>
  </div>
</div>