{% if site.gtag %}
<!-- Global site tag (gtag.js) - Google Analytics -->
function loadScript(src, async) {
  let script = document.createElement('script');
  script.src = src;
  script.async = async;
  document.head.append(script);
}

loadScript('//www.googletagmanager.com/gtag/js?id={{ site.gtag }}', true);

window.dataLayer = window.dataLayer || [];

function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', '{{ site.gtag }}');
<!-- End Google Analytics -->
{% endif %}