<div id="share-buttons">
  <div class="facebook" title="Share this on Facebook" onclick="window.open('http://www.facebook.com/share.php?u={{ page.url | absolute_url | url_encode }}');">
    <i class="fab fa-facebook-square"></i>
  </div>
  <div class="twitter" title="Share this on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}');">
    <i class="fab fa-twitter-square"></i>
  </div>
  <div class="linkedin" title="Share this on Linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title=&summary=&source=');">
    <i class="fab fa-linkedin"></i>
  </div>
  {% if page.image %}
    <div class="pinterest" title="Share this on Pinterest" onclick="window.open('https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description=');">
      <i class="fab fa-pinterest-square"></i>
    </div>
  {% endif %}
</div>