@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: Arvo, sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  line-height: 60px;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 20px;  
}

h1.white, h2.white, h3.white {
  color: #fff;
}

a {
  color: #27b9c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a h3, a h2, a h1 { 
  color: #fff;
}

a.no-decoraction:hover {
  text-decoration: none;
}

a h3:hover, a h2:hover, a h1:hover {
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

.title { 
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 42px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.arrow-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow-link.yellow {
  color: #ffc80a;
}

.arrow {
  font-size: 16px;
}

.arrow-navigation {
  display: inline-block;
  color: #333;
  font-size: 46px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.caps {
  font-family: Montserrat, sans-serif;
  color: #9fa3a7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.caps.white {
  color: #fff;
}

.text.white {
  color: #fff;
}

.text.grey {
  color: #9fa3a7;
}

.text.small {
  font-size: 12px;
}

.text-block {
  padding: 2px 13px 1px 30px;
  border-radius: 60px;
  background-color: hsla(0, 0%, 100%, .08);
  background-image: url(../images/main/yellow-flag.svg);
  background-position: 11px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  font-size: 10px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 2.4px;
}