---
---

@import "{{ site.theme }}";

/* Theme specific */

.markdown-body pre code, .markdown-body pre tt {
  font-family: var(--font-family-monospace);
  font-size: 12px;
}

.container-lg {
  margin-top: 80px !important;
}

.markdown-body {
  font-family: 'Roboto', sans-serif;
}

.markdown-body img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.markdown-body hr {
  height: 1px;
}

.markdown-body ul {
  margin-left: 2em;
}

.markdown-body ol {
  margin-left: 0.5em;
}

.markdown-body ul, .markdown-body ol {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.markdown-body blockquote {
  padding: 1.2em 20px 1.2em 45px;
  font-family:  var(--font-family-monospace);
  font-size: 0.9em;
  border-left: 0.25em solid var(--grey);
  background-color: #f6f8fa;
  margin: 20px auto;
  position: relative;
}
  
.markdown-body blockquote::before{
  content: "\201C";
  color:#ccc;
  font-size: 3em;
  position: absolute;
  left: 10px;
  top: 5px;
}
  
.markdown-body blockquote::after{
  content: '';
}

.markdown-body blockquote code, blockquote tt {
  font-size: 1em;
}

.markdown-body h2 {
  border-bottom: 1px solid var(--border);
}

/* Highlight */

.highlight .c, .highlight .cd, .highlight .cm, 
.highlight .cp, .highlight .c1, .highlight .cs { 
  color: var(--lightgreen);
}

.highlight .bp, .highlight .nn,
.highlight .gd, .highlight .ge, .highlight .gh, 
.highlight .go, .highlight .gp, .highlight .gu,
.highlight .gi, .highlight .k, .highlight .kc, 
.highlight .kd, .highlight .kn, .highlight .kp, 
.highlight .kr, .highlight .kt, .highlight .kv, 
.highlight .o, .highlight .w, .highlight .ow {
  color: var(--grey);
}

.highlight .nb, .highlight .nc, .highlight .nt,
.highlight .nv, .highlight .no, .highlight .nd,
.highlight .m, .highlight .mb, .highlight .mf, 
.highlight .mh, .highlight .il, .highlight .mi, 
.highlight .mo, .highlight .mx { 
  color: var(--lightblue);
}

.highlight .err,
.highlight .gt, .highlight .gr,
.highlight .ni, 
.highlight .ne, .highlight .nf, .highlight .nl, 
.highlight .s, .highlight .s1, .highlight .sb, 
.highlight .sc, .highlight .sd, .highlight .s2, 
.highlight .se, .highlight .sh, .highlight .si, 
.highlight .ss, .highlight .sx { 
  color: var(--lightred);
}

.highlight .sr, .highlight .na,
.highlight .vc, .highlight .vg, .highlight .vi {
  color: var(--lightgreen);
}