@import url(mixins/modes.css);
@import url(mixins/typography.css);
@import url(mixins/loader.css);
@import url(mixins/navigation.css);

:root {
  --padding-section: 65px 0px 0px;
}

*, ::after, ::before {
  box-sizing: border-box;
  outline: none
}

html {
  height: 100%;
}

.padding-section {
  padding: var(--section-padding);
}