#navigation {
  background: rgb(24, 24, 24);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;

  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  z-index: 3;  
}

.logo {
  margin: 0px 20px;
  width: 50px;
  height: 25px;
  background-image: url(/assets/images/2.0/logo.svg);
  background-size: 50px;
  background-repeat: no-repeat; 
}

#navigation label, #menu-button { 
  display: none;
}

#menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px 20px;
}

#menu a {
  margin: 0px 5px;
  padding: 0px 32px;
  color: var(--lightblue);
  border: 2px solid transparent;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: var(--font-family-monospace);
  text-transform: uppercase;
  text-decoration: none;
}

#menu a:hover {
  background-color: var(--lightblue);  
  color: var(--grey);
}

@media screen and (max-width: 780px){  
  #navigation label { 
    display: inline-block; 
    color: var(--color-font-light);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
  }

  #menu a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  /* Toggle Show/Hide Menu */ 
  #menu { display: none; }  
  #navigation input:checked ~ #menu { 
    display: block;
    clear: both;
    position: absolute;
    margin: 0;
    top: 60px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    text-align: center;    
  }
}

#footer {
  background: rgb(24, 24, 24);
  width: 100%;
  bottom: 0;
  position: fixed;
  top: 0;
  position: relative;
  overflow: visible;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goto {
  display: flex;
  width: 64px;
  height: 64px;
  background-color: var(--lightgreen);
  color: var(--black);
  border-radius: 50%;
  margin: -32px auto 0px auto;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}

.goto:hover > i {
  color:rgb(255, 255, 255);
}

.footer-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.copyright {
  display: flex;
  margin: 0px 20px;
}

.footer-links {
  display: flex;
  margin: 0px 20px;
}

.footer-links li {
  display: flex;  
  list-style-type: none;
  padding: 0px 5px;  
}

.footer-links li i {
  font-size: 24px;
}

.footer-links a {
  color: var(--white);
}

.footer-links a:hover {
  color: var(--lightgreen);
}