div#toc::before {
  content: "Contents";
  font-weight: bold;
} 

div#toc {
border: 1px solid #e0e0e0;
border-radius: 10px;
padding: 1.5em;
list-style: decimal;
display: inline-block;
}

#toc ul {
  list-style: decimal;
}