---
common-css:
  - "/assets/css/base.css"
  - "/assets/css/fonts.css"
  - "/assets/css/blog.css"
common-ext-css:
  - "//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
  - "Josefin+Sans"
  - "Prompt"
  - "Roboto"
common-js:
  - "/assets/scripts/jquery-2.2.4.min.js"
  - "/assets/scripts/loader-overlay.js"
  - "/assets/scripts/toc.js"
common-ext-js:
  - href: "//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    sri: "sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {{ content }}

    {% include footer-scripts.html %}

    <script>
      if (typeof jQuery == 'undefined') {
        document.write('<script src="{{ "/assets/scripts/jquery-2.2.4.min.js" | relative_url }}"></scr' + 'ipt>');
      }
    </script>
    
    <!-- Add anchors -->
    <script>
      $(document).ready(function() { anchors.add(); });  
    </script>

    {% include cookie-consent.html %}
  </body>
</html>