---
css:
  - "/assets/css/2.0/blog.css" 
script:
  - "/assets/js/common/jquery-2.2.4.min.js"
  - "//kit.fontawesome.com/bf7280a28a.js"
  - "/assets/js/common/loader.js"
  - href: "//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    sri: "sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="
  - "/assets/js/common/table-of-contents.js"
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}

  <body>
    {{ content }}
    
    <!-- Add anchor -->
    <script>
      $(document).ready(function() { anchors.add(); });
    </script>

    <!-- Cookie consent -->
    {% include cookie-consent.html %}
  </body>
</html>