---
layout: default
---

<post-header>
  {% if page.title %}
    <div class="title">{{ page.title }}</div>
  {% endif %}
</post-header>

<div id="categories">
  {% assign categories = site.categories | sort %}
  {% for category in categories %}

    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>

      <h2 id="{{ category_name }}" class="category-title">{{ category_name }}</h2>
      <a name="{{ category_name | slugize }}"></a>
      
      <div class="category-grid">
        {% for post in site.categories[category_name] %}
          <article>
            <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="card">
                <div class="card-image">
                  {% if post.image %}
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                  {% endif %}
                </div>
                <div class="card-body">
                  <p>
                    {{ post.title | truncate: 60 }}
                  </p>
                </div>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>

  {% endfor %}
</div>