---
layout: default
---

<div class="blog list">

  {% for post in site.categories[page.tag] %}
    <article class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      
      
      <ul class="post-list">
        {%- for post in site.categories[page.tag] -%}
          <li>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
            - <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </li>
        {%- endfor -%}
      </ul>
      
    </article>
  {% endfor %}
</div>